.stripe-1 {
  height: 8px;
  background-color: #e40303;
}
.stripe-2 {
  height: 8px;
  background-color: #ff8c00;
}
.stripe-3 {
  height: 8px;
  background-color: #ffed00;
}
.stripe-4 {
  height: 8px;
  background-color: #008026;
}
.stripe-5 {
  height: 8px;
  background-color: #004cff;
}
.stripe-6 {
  height: 8px;
  background-color: #732982;
}
